<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/img/weather.png">

<head>

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="not-found" src="/img/404.png" </body>
    </div>
    {{>footer}}

</html>