<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}

    </div>

    {{>footer}}
</body>

</html>