<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/css/style.css">
<script src="js/app.js"></script>

<head>

</head>

<body>
    <h1>{{title}}</h1>
    <img src="/img/coutinho-wall.jpg" </body>

</html>