<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">

    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        {{> header}}
        <p>Weather application site!</p>
        <form>
            <input placeholder="Enter city">
            <button>Search</button>
        </form>
        <p id="msg-1"></p>
        <p id="msg-2"></p>
    </div>

    {{> footer}}
    <script src="/js/app.js"></script>
</body>

</html>